*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box
}

body {
	background-color: #aaaa;
}

section {
	margin-top: 50px
}

.container {
	width: 90%;
	position: relative;
}

.claer {
	clear: both
}
nav {
	height: 40px;
	background-color: #000;
	position: fixed;
	width: 100%;
	z-index: 1
}

nav ul {
	list-style-type: none
}

nav ul li {
	display: inline-block;
	padding: 10px;
	margin: 0 20px;
}

nav ul li a {
	text-decoration: none;
	color: #eee;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif
}

header {
	height: 600px;
	background-image: url('img/header.jpg');
	background-size: cover;
	background-attachment: fixed
}

header div {
	width: 50%;
	text-align: center
}

header h1 {
	padding-top: 200px;
	font-family: 'Quicksand', sans-serif;
	color: #ccc
}

header h1 span {
	color: #C8C4EE
}

header button {
	margin: 20px 0;
	padding: 15px;
	border: solid 2px #ccc;
	background-color: transparent;
	color: #ccc;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
}header button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: solid 2px transparent;
	color: #eee;
}

header button span {
	font-family: 'Anton', sans-serif;
}

.about h2 {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	border-bottom: solid 3px black;
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
}

.about article {
	width: 25%;
	float: left;
	text-align: center;
	padding: 10px;

}

.about article i {
	font-size: 100px;
	padding: 20px;
}

.about article .p {
	padding: 20px;
	margin-top: 10px;
	border: solid 3px black;
	border-radius: 50%;
	width: 50px;
	height: 50px
}

.about article h4 {
	margin: 20px 0;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #eee;
	font-size: 18px
}


.about article p {
	width: 70%;
	color: #978C8C;
	font-family: 'Quicksand', sans-serif;
}


.skills article {
	width: 50%;
	float: left
}


.skills article .box_skills_1 .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 14px;
    border-radius: 0px 0px 27px 27px;
    padding: 20px;
}

.skills .box_skills_1{
	width: 70%;
	text-align: center;
	position: relative
}

.skills .box_skills_1 img {
	margin: 10px;
	border-radius: 30px;
}

.skills .box_skills_1 h4 {
	margin: 20px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 30px
}

.skills .box_skills_1 p {
	margin: 20px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 18px
}

.skills .box_skills_2  {
	width: 80%;
	text-align: left;
} 

.skills .box_skills_2 p {
	font-family: 'Raleway', sans-serif;
}

.skills .box_skills_2 .skills {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  float: left;
  padding-left: 20px;
  line-height: 40px;
  color: white;
  margin: 10px 0
}

.skills .box_skills_2 .html {width: 90%; background-color: #000;}
.skills .box_skills_2 .css {width: 80%; background-color: #000;}
.skills .box_skills_2 .Bootstrap {width: 65%; background-color: #000;}
.skills .box_skills_2 .js {width: 60%; background-color: #000;}
.skills .box_skills_2 .JQuery {width: 65%; background-color: #000;}
.skills .box_skills_2 .PHP {width: 20%; background-color: #000;}
.skills .box_skills_2 .AJAX {width: 30%; background-color: #000;}


.contact {
	background-image: url('img/header.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center
}

.contact h2 {
	text-transform: uppercase;
	color: #eee;
	text-align: center;
	font-size: 40px;
	border-bottom: solid 3px #eee;
	padding: 30px;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
}

.contact form input {
	width: 400px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	height: 50px;
	margin: 10px 0;
	color: #eee;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border:  solid 1px #eee;
	box-shadow: 0.5px 1px  3px 4px transparent
}

.contact form textarea {
	font-family: 'Raleway', sans-serif;
	width: 400px;
	font-size: 20px;
	height: 150px;
	margin: 10px 0;
	color: #eee;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border:  solid 1px #eee;
	box-shadow: 0.5px 1px  3px 4px transparent
}

.contact form button {
	margin: 5px 0;
	font-family: 'Raleway', sans-serif;
	padding: 10px 40px; 
	border: solid 2px #ccc;
	background-color: rgba(0, 0, 0, 0.5);
	color: #eee;
	border-radius: 10px;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 30px
}.contact form button:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border: solid 2px transparent;
	color: #eee;
}

footer {
	background-color: black;
	text-align: center;
	padding: 10px
}

footer a {
	color: #eee;
	margin: 0 20px;
	text-decoration: none;
	font-size: 30px
}



footer p {
	color: #eee;
	padding: 5px;
	margin-top: 5px;
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}